<mat-toolbar class="header">
    <mat-toolbar-row>
        <h1>Lookout</h1>
    </mat-toolbar-row>
</mat-toolbar>

<div class="container">
    <div class="row">
        <mat-form-field class="selector">
            <mat-label>Building</mat-label>
            <mat-select matInput [(ngModel)]="building" (selectionChange)="GetRoomList()">
                <mat-option *ngFor="let b of buildingList" [value]="b">{{b._id}} ({{b.name}})</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="selector">
            <mat-label>Room</mat-label>
            <mat-select matInput [(ngModel)]="room" (ngModelChange)="UpdateRoomSubscription()" [disabled]="building._id == null || roomList.length == 0">
                <mat-option *ngFor="let r of roomList" [value]="r">{{r._id}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>

<div class="rest">
    <h2>send a payload</h2>
    <textarea rows="10" cols="30" [(ngModel)]="payload">
    </textarea>
    <button (click)="SetState()">send</button>

    <h2>status</h2>
    <pre>{{message}}</pre>

    <h2>events</h2>
    <ng-container *ngFor="let event of events">
        <pre>
            {{event}}
        </pre>
    </ng-container>
</div>
